@use "../library" as base;
@use "../library/colors" as color;

.homepage {
  &__hero-bg {
    @include base.flex-center-start();

    width: 100%;
    height: base.toRem(600);

    background: color.$brand-grey-100;
  }
}
