$brand-accent: #b91c1c;
$brand-white: #ffffff;
$brand-black: #000000;
$brand-grey-1: #747474;
$brand-gray-400: #9ca3af;
$brand-gray-900: #111827;
$brand-accent-dark-100: #1a1405;
$brand-accent-dark-200: #110c00;

html:root {
  --brand-accent: #b91c1c;
  --brand-white: #ffffff;
  --brand-black: #251a00;
  --brand-grey-1: #747474;
  --brand-gray-400: #9ca3af;
  --brand-gray-900: #111827;
  --brand-accent-dark-100: #1a1405;
  --brand-accent-dark-200: #110c00;
}
