@use '../library/utilities' as util;
@use '../library/colors' as color;
@use '../library/mixins' as mixin;
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@200;300;400;500;600;700;800&display=swap');

*,
::before,
::after {
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  white-space: normal;
  transition: background transform border-radius box-shadow font-size 0.3s
    ease-in-out;
  font-family: 'DM Sans', sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
  color: color.$brand-gray-900;
  background: color.$brand-white;
  scroll-behavior: smooth;
  font-size: 100%;
  margin: 0;
  padding: 0;
}

body {
  @include mixin.dark-scrollbar();
}

button {
  background: transparent;
  margin: 0;
  border: none;
  outline: none;
  cursor: pointer !important;
  transition: all 0.4s ease-in-out;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style: none;

  li {
    margin: 0;
  }
}

a {
  text-decoration: none !important;
}

input {
  border: none;
  outline: none;
  background: transparent;

  &:hover {
    outline: none;
  }

  &:focus {
    outline: none;
  }

  &::placeholder {
    color: rgba(76, 78, 100, 0.38);
    font-weight: 500;
    font-size: util.toRem(16);
    line-height: util.toRem(25);
    letter-spacing: util.toRem(-0.16);
  }
}

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 40px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div { /* change div to reference your elements you put in <Masonry> */
  background: transparent;
  margin-bottom: 30px;
}