@use 'utilities' as util;
@use 'breakpoints' as media;

$size: 200;

@for $n from 0 through $size {
  .h-#{$n} {
    height: util.toRem($n) !important;
  }

  .w-#{$n} {
    width: util.toRem($n) !important;
  }

  .wf-#{$n} {
    width: #{$n + '%'} !important;
  }

  .wv-#{$n} {
    width: #{$n + 'vh'} !important;
  }

  .hf-#{$n} {
    height: #{$n + '%'} !important;
  }

  .hv-#{$n} {
    height: #{$n + 'vh'} !important;
  }
}

@include media.breakpoint-up(md) {
  @for $n from 0 through $size {
    .h-md-#{$n} {
      height: util.toRem($n) !important;
    }

    .w-md-#{$n} {
      width: util.toRem($n) !important;
    }

    .wf-md-#{$n} {
      width: #{$n + '%'} !important;
    }

    .hf-#{$n} {
      height: #{$n + '%'} !important;
    }
  }
}

@include media.breakpoint-up(lg) {
  @for $n from 0 through $size {
    .h-lg-#{$n} {
      height: util.toRem($n) !important;
    }

    .w-lg-#{$n} {
      width: util.toRem($n) !important;
    }

    .wf-lg-#{$n} {
      width: #{$n + '%'} !important;
    }

    .hf-#{$n} {
      height: #{$n + '%'} !important;
    }
  }
}
